.space {
    display: none;
}

.carousel {
    width: 100%;
}

.carousel-indicators li {
    display: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #34495E;
    margin-right: 10px;
    margin-left: 10px;
}

.carousel-one-image {
    background: url('../images/carouselOne.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-one {
    padding-bottom: 13.5em;
    text-align: left;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}

.carousel-one-title {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 0.7em;
    margin-left: 100px;
}

.carousel-one-subtitle {
    font-size: 25px;
    padding-top: 1em;
    margin-left: 100px;
    border-top: 2px solid;
    width: fit-content;
}

.carousel-one-content {
    font-size: 20px;
    text-align: end;
    line-height: 2;
}

.carousel-one-content a {
    text-decoration: none;
    /* border-radius: 5px; */
    padding: 0.7em;
    background: #333;
    color: #fff;
    transition: 0.5s;
}

.carousel-one-content a:hover {
    background: #fff;
    color: #333;
}

.carousel-two-image {
    background: url('../images/carouselTwo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-two {
    text-align: center;
    padding-bottom: 13em;
    
}

.carousel-two-title {
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 35px;
    width: fit-content;
}

.carousel-two-subtitle {
    font-size: 22px;
    padding-bottom: 0.5em;
}

.carousel-two-top-subtitle {
    border-top: 1px solid;
    padding-top: 1em;
    width: fit-content;
    margin: 0 auto;
}


.carousel-two-button p {
    padding: 0.5em 1em;
    background: #E67E22;
    color: #333;
    /* border-radius: 5px; */
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1em;
}

.carousel-two-button p:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    /* transition: all 0.3s ease; */
}

.carousel-three-image {
    background: url('../images/carouselThree.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-three {
    padding-bottom: 13em;
    text-align: left;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}

.carousel-three-title {
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;   
}

.carousel-three-title b {
    border-left: 5px solid #fff;
}

.carousel-three-subtitle {
    font-size: 25px;
    margin-left: 100px;
    width: 100%;
}
.subtitle1-hidden {
    display: none;
}

.subtitle0 {
    font-size: 30px;
}
.subtitle2 {
    font-size: 20px;
    width: 60%;
}



@media only screen and (max-width: 1024px) {
    .carousel-one-image {
        background: url('../images/carouselOneSmall.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .carousel-two-image {
        background: url('../images/carouselTwoSmall.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .carousel-one, .carousel-one-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* .carousel-one {
        padding-bottom: 8em;
    } */
    .carousel-one-title, .carousel-one-subtitle {
        margin-left: 0;
    }

    .carousel-three {
        padding-left: 0em;
        /* padding-bottom: 9em; */
    }
    .carousel-three-title {
        font-size: 35px;
        width: 100%;
    }
    .carousel-three-subtitle {
        font-size: 22px;
    }
    .carousel-three-subtitle span {
        line-height: 2;
    }
}

@media only screen and (max-width: 850px) {
    .carousel-three-title {
        width: 90%;
        margin: initial;
    }
    .carousel-three-subtitle {
        margin-left: 0;
    }
    .subtitle0 {
        font-size: 20px;
    }
    .subtitle1 {
        font-size: 18px;
    }
    .subtitle2 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 650px) {
    .carousel-one {
        padding-bottom: 16em;
    }
    .carousel-two {
        padding-bottom: 15em;
    }
    .carousel-one-title {
        font-size: 22px;
        margin-left: 0;
    
    }
    .carousel-one-title-top {
        margin-bottom: 1em;
    }
    .carousel-two-title {
        font-size: 22px;
    }
    .carousel-one-subtitle {
        font-size: 18px;
        margin-left: 0;
    }
    .carousel-two-subtitle {
        font-size: 18px;
    }

    .carousel-three {
        padding-bottom: 13em;
        width: 90%;
    }
    /* .carousel-three-image {
        background: url('../images/carouselThreeSmall.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    } */
    .carousel-three-title {
        font-size: 25px
    }
    .carousel-three-subtitle {
        padding-left: 0em;
        font-size: 20px;
        width: 100%;
    }

}

@media only screen and (max-width: 450px) {
    .carousel-three {
        padding-bottom: 13em;
        width: 100%;
    }
    .subtitle1 {
        display: none;
    }
    .subtitle1-hidden {
        display: initial;
        font-size: 17px;
    }
}

@media only screen and (max-width: 375px) {
    .space {
        display: initial;
    }
}