.carousel {
    width: 100%;
}

.carousel-indicators li {
    display: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #34495E;
    margin-right: 10px;
    margin-left: 10px;
}

.carousel-one-image {
    background: url('../images/carouselOne.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-one {
    padding-bottom: 12em;
    text-align: left;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}

.carousel-one-title {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 0.7em;
    margin-left: 100px;
}

.carousel-one-subtitle {
    font-size: 30px;
    padding-top: 1em;
    margin-left: 100px;
    border-top: 2px solid;
    width: fit-content;
}

.carousel-one-content {
    font-size: 20px;
    text-align: end;
    line-height: 2;
}

.carousel-one-content a {
    text-decoration: none;
    /* border-radius: 5px; */
    padding: 0.7em;
    background: #333;
    color: #fff;
    transition: 0.5s;
}

.carousel-one-content a:hover {
    background: #fff;
    color: #333;
}

.carousel-two-image {
    background: url('../images/carouselTwo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-two {
    text-align: center;
    padding-bottom: 10em;
    
}

.carousel-two-title {
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 30px;
    width: fit-content;
}

.carousel-two-subtitle {
    font-size: 20px;
}

.carousel-two-top-subtitle {
    border-top: 1px solid;
    padding-top: 1em;
    width: fit-content;
    margin: 0 auto;
}


.carousel-two-button p {
    padding: 0.5em 1em;
    background: #E67E22;
    color: #333;
    /* border-radius: 5px; */
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1em;
}

.carousel-two-button p:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    /* transition: all 0.3s ease; */
}

@media only screen and (max-width: 1024px) {
    /* .carousel-one-image {
        background: url('../images/carouselOneSmall.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    } */
    .carousel-two-image {
        background: url('../images/carouselTwoSmall.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .carousel-one, .carousel-one-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .carousel-one {
        padding-bottom: 8em;
    }
}

@media only screen and (max-width: 650px) {
    .carousel-one {
        padding-bottom: 14em;
    }
    .carousel-two {
        padding-bottom: 11em;
    }
    .carousel-one-title {
        font-size: 22px;
        margin-left: 0;
    
    }
    .carousel-one-title-top {
        margin-bottom: 1em;
    }
    .carousel-two-title {
        font-size: 22px;
    }
    .carousel-one-subtitle {
        font-size: 20px;
        margin-left: 0;
    }
    .carousel-two-subtitle {
        font-size: 18px;
    }

}