.news-header {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1) ), url("../images/news.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-title {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5em;
    height: 500px;
    font-size: 20px;
    width: 60%;
}

.announcement-outer-container {
    background: -webkit-linear-gradient(to right, #fdfcfb, #e2d1c3); 
    background: linear-gradient(to right, #fdfcfb, #e2d1c3); 
    padding: 10em 10em 10em 10em;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.announcement-container {
    width: 70%;
}

.announcement-header {
    display: flex;
    width: 100%;
    padding-left: 5em;
    padding-bottom: 3em;
}

.news-liner {
    border-top: 5px solid;
    width: 5%;
    margin: 0 auto;
    padding-bottom: 2em;
}

.announcements {
    display: flex;
    padding: 1em 0 1em 0;
    font-size: 20px;
    padding-left: 3em;
    align-items: center;
}

.date-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.announcements-place-detail-container span {
    line-height: 2em;
    padding-left: 2em;
}

.announcements-num {
    /* background: #2471A3;
    padding: 0.1em;
    color: #fff; */
}

.announcements-date-place, .announcements-place {
    font-weight: bold;
}

.weekly-paper {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.weekly-paper span {
    padding: 1em 2em;
    cursor: pointer;
    /* border-radius: 5px; */
    background: #2471A3;
    color: #fff;
    transition: 0.5s;
}

.weekly-paper span:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.announcements-other {
    width: 30%;
    border-left: 2px solid #333;

}

.announcements-other-header {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .announcement-outer-container {
        padding: 10em 2em 10em 2em;
    }
}

@media only screen and (max-width: 1024px) {
    .news-header {
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1) ), url("../images/newsSmall.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .announcement-outer-container {
        display: inherit;

    }
    .announcement-container {
        width: 100%;
    }
    .announcements-other {
        margin-top: 3em;
        width: 100%;
        border-left: 0;
    }
    .announcement-header {
        justify-content: center;
        padding-left: 0;
    }
    .announcements {
        padding-left: 0;
        width: 70%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 850px) {
    .announcements {
        width: 100%;
        justify-content: center;
        font-size: 18px;
    }
    .date-box-container {
        width: 25%;
        display: flex;
        justify-content: center;
    }
    .date-box {
        width: 150px;
        height: 150px;
    }
    .announcements-place-detail-container {
        width: 50%;
    }
}

@media only screen and (max-width: 750px) {
    .news-header {
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1) ), url("../images/newsSmaller.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .announcement-outer-container {
        padding: 10em 0 10em 0;
    }
    .announcements-place-detail-container {
        text-align: center;
    }
    .announcements {
        justify-content: space-around;
    }
    .announcements-place-detail-container span {
        padding-left: 0;
    }
    .news-title {
        width: 100%;
        text-align: end;
        font-size: 18px;
    }
}